<p>area works!</p>

<div class="example-full-width" style="width: 100%;" >
                         
    <button style="height: 45px;" mat-raised-button color="primary" (click)="openDialog()"><mat-icon>person_add</mat-icon>  Nuevo   </button>                                            

</div> 

<div  class="divclasstable" >
    <mat-table [dataSource]="dataSource" matSort >
                          
        <ng-container matColumnDef="nidarea" >
            <mat-header-cell *matHeaderCellDef mat-sort-header class="headStilo" > Id Area</mat-header-cell>
            <mat-cell fxFlex="10%"  *matCellDef="let area" class="rowStilo"> {{area.nidarea}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="snombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="headStilo"> Nombre Area </mat-header-cell>
            <mat-cell *matCellDef="let area" class="rowStilo"> {{area.snombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sobservacion">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="headStilo"> Observación </mat-header-cell>
            <mat-cell *matCellDef="let area" class="rowStilo"> {{area.sobservacion}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="dfechareg">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="headStilo"> Fecha Creación </mat-header-cell>
            <mat-cell *matCellDef="let area" class="rowStilo"> {{area.dfechareg}}</mat-cell>
        </ng-container>
        

        <ng-container matColumnDef="acciones" >
            <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header class="headStiloAccion" >Acciones</mat-header-cell>
            <mat-cell  fxFlex="10%" *matCellDef="let row;"  class="rowStiloAccion" >
                <button mat-icon-button color="primary" matTooltip="Editar"  (click)="openDialog(row)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="eliminarAreaDialog(row)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
                <button mat-icon-button color="basic" matTooltip="Activar" (click)="activarAreaDialog(row)">
                    <mat-icon>open_in_browser</mat-icon>
                </button>
            </mat-cell>
       </ng-container>
       
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
     
    <mat-paginator   [pageSize]="10"   [pageSizeOptions]="[5, 10, 25, 100]"  showFirstLastButtons  [length]="cantidad" (page)="mostrarMas($event)" class="headStilo" >
    </mat-paginator>
  

</div>