<div class="header"    fxFlexOrder="2"  fxLayoutGap="20px" >      
    Mantenimiento Areas:                                 
</div>

<mat-divider></mat-divider>

<section  fxLayout="column" fxLayoutAlign="center center">

 <form   [formGroup]="formarea" (ngSubmit)="operar()" style="width: 100%;">

    <mat-dialog-content style="width: 100%;"> 

        <div class="tp-container" fxFlexOrder="2"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

            <mat-form-field appearance="outline" >
                <mat-label style="font-size:18px">Nombre Area:</mat-label>
                <input  matInput  formControlName="snombrearea"  /> 
                    <mat-icon matSuffix style="font-size: 1.5em">format_list_numbered_rtl</mat-icon>
                    <div  *ngIf="snombre">
                        <span style="color: #ff002b;">
                            {{val_snombre}}
                        </span>
                    </div>
            </mat-form-field>

            <mat-form-field appearance="outline" >
                <mat-label style="font-size:18px">Sede:</mat-label>
                <mat-select   formControlName ='sede' required>
                    <mat-option *ngFor="let v of sedeCombo" [value]="v.nidsede">
                      {{v.snombre}}
                    </mat-option>
                </mat-select>
                    <div  *ngIf="sede">
                        <span style="color: #ff002b;">
                            {{val_sede}}
                        </span>
                    </div>  

            </mat-form-field>

        </div>

        <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="10px">

            <mat-form-field appearance="outline" >
                <mat-label style="font-size:18px">Id Sesion:</mat-label>
                <input  matInput  formControlName="sesion" /> 
                    <mat-icon matSuffix style="font-size: 1.5em">format_list_numbered_rtl</mat-icon>
                    <div  *ngIf="sesion">
                        <span style="color: #ff002b;">
                            {{val_nsesion}}
                        </span>
                    </div>
            </mat-form-field>

        </div>

        <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">                           
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Observación:</mat-label>
                <textarea matInput  maxlength ="100"></textarea>
                <mat-icon matSuffix style="font-size: 1.5em">text_format</mat-icon>
               
            </mat-form-field>                    
        </div>
    </mat-dialog-content>

    <mat-dialog-actions style="width: 100%;" fxLayoutAlign="center center">
        <button mat-raised-button  type="submit"  color="primary" > <mat-icon>done_outline</mat-icon>{{nombreboton}}</button>
        <button mat-raised-button  type="reset" color="warn" ng-click="cancelar()"><mat-icon>clear_all</mat-icon> Limpiar</button>
        <button class="btn btn-default" mat-raised-button type="button"  color="accent" (click)="cancelar()"><mat-icon>close</mat-icon> Cancelar</button>
     
    </mat-dialog-actions>

 </form>

</section>