#main-container{
	margin: 1% auto;
	width: 97%;
	background: white;
}

.spacer {
	flex: 1 1 auto;
  }

 
  .columnstyle {
	background-color: cornflowerblue; 
	text-align:center; 
	color: rgb(255, 255, 255);
  }


  .container-2{
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
  }

  .rowStilo{
	font-weight: normal;
	cursor: pointer;
	
	/*background:linear-gradient(360deg, rgba(242,249,255,1) 0.00%, rgba(255,255,255,1) 52.59%, rgba(242,249,255,1) 99.76% );*/
  }

  .headStilo{
	font-size:15px;
	background: rgb(207,235,255);
	color: black;
	background: linear-gradient(0deg, rgba(207,235,255,1) 55%, rgba(178,214,255,1) 87%);
  }

  .mat-column-name{
    flex: 0 0 10%;
}

	.mat-row:hover {
	background:linear-gradient(360deg, rgba(242,249,255,1) 0.00%, rgba(255,255,255,1) 52.59%, rgba(242,249,255,1) 99.76% );
  	}

	.headStiloAccion{
	background: rgb(207,235,255);
	justify-content: center;
	color: black;
	font-size:15px;
	background: linear-gradient(0deg, rgba(207,235,255,1) 55%, rgba(178,214,255,1) 87%);
  }

  .rowStiloAccion{
	background:linear-gradient(360deg, rgba(242,249,255,1) 0.00%, rgba(255,255,255,1) 52.59%, rgba(242,249,255,1) 99.76% );
	color: black;
	justify-content: center;
  }

  .divclasstable{
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 2px ridge #fcfcfc;
	overflow: hidden;
	color:rgb(0, 0, 0);
}


.divclassmenu{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 2px ridge #d6d6d6;
}


.blue-snackbar {
	background: #2196F3;
  }

  .red-snackbar{
	background-color: rgb(153, 50, 50);
	color:lightgoldenrodyellow;
  }

 

  .my-snack-bar {
    background-color: #E8EAF6;
    color: red;
}
.button-bar {
    background-color: pink;
    color: blue;
}



  .Desctivado{
	  color: red;
  }

  .Activado{
	color:#4a964a;
}





#search-box {
	height: 43px;
	width: 100%;
	 }
  
  #search-box #search-form, #search-box #search-button {
	box-sizing: border-box;
	height: 100%; 
	}
  
  #search-box #search-form {
	width: 85%;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 1px 0 rgba(8, 23, 38, 0.02) inset, 0 0 2px rgba(8, 23, 38, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	padding: 0 4px;
	outline: none;
	float: left; }
  
  #search-box #search-form:focus {
	outline: none;
	border: 2px solid #47b98f; }
  
  #search-box #search-button {
	width: 15%;
	border: 1px solid #47b98f;
	border-radius: 0 5px 5px 0;
	background: url("../../../assets/iconos/search_w.png") center center no-repeat;
	background-color: #47b98f;
	float: right;
	position: relative;	
	left: -2px; 
	cursor: pointer;}
  
  #search-box #search-button:hover, #search-box #search-button:active {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; }
  
  #search-box #search-button:hover {
	border: 1px solid #37a97f;
	background-color: #37a97f; }
  
  #search-box #search-button:active {
	outline: none;
	border: 1px solid #1b8d6d;
	background-color: #1b8d6d; }
  
  /* For Smartphone */
  @media only screen and (max-width: 480px) {
	#search-box #search-button:hover {
	  border: 1px solid #47b98f;
	  background-color: #47b98f; } }