<div class="header"    fxFlexOrder="2"  fxLayoutGap="20px" >      
    Mantenimiento usuario:                                 
</div>

<mat-divider></mat-divider>

<section  fxLayout="column" fxLayoutAlign="center center">

<form   [formGroup]="formOperador" (ngSubmit)="operar()" style="width: 100%;">

<mat-dialog-content style="width: 100%;"> 
<mat-tab-group mat-align-tabs="center" [(selectedIndex)]="demo1TabIndex">

    <mat-tab label="OPERADOR">
        <p>
            <div class="tp-container" fxFlexOrder="2"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                <mat-form-field appearance="outline" >
                    <mat-label style="font-size:18px">Tipo de Documento:</mat-label>
                    <mat-select placeholder="Tipo Documento" [(value)]="idTipoDocumento" formControlName ='sidtipodoc' required>
                        <mat-option *ngFor="let v of tipodocumentocombo" [value]="v.sidtipodoc">
                          {{v.sdescripcion}}
                        </mat-option>
                    </mat-select>
                    <div  *ngIf="!_validator.isValid('sidtipodoc', formOperador)">
                        <span style="color: #f4516c;">
                            {{ _validator.errorMessage }}
                        </span>
                    </div>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Número Documento:</mat-label>
                    <input  matInput   formControlName="snumdocu" required /> 
                    <div  *ngIf="!_validator.isValid('snumdocu', formOperador)">
                        <span style="color: #f4516c;">
                            {{ _validator.errorMessage }}
                        </span>
                    </div>
                </mat-form-field>  
            </div>

            <div class="tp-container" fxFlexOrder="2"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
        
                <mat-form-field appearance="outline" >
                    <mat-label>Nombre:</mat-label>
                    <input matInput  required formControlName="snombre" required  minlength="2" maxlength ="30">
                    <div *ngIf="!_validator.isValid('snombre', formOperador)">
                        <span style="color: #f4516c;">
                            {{ _validator.errorMessage }}
                        </span>
                    </div>
                </mat-form-field>  

                <mat-form-field appearance="outline" >
                    <mat-label>Apellido Paterno:</mat-label>
                    <input matInput  required formControlName="sapepaterno">
                    <div  *ngIf="!_validator.isValid('sapepaterno', formOperador)">
                        <span style="color: #f4516c;">
                            {{ _validator.errorMessage }}
                        </span>
                    </div>
                </mat-form-field>
             </div>

            <div class="tp-container" fxFlexOrder="2"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">      
                <mat-form-field appearance="outline" >
                    <mat-label>Apellido Materno:</mat-label>
                    <input matInput  required formControlName="sapematerno"  required  minlength="2" maxlength ="30">
                    <div  *ngIf="!_validator.isValid('sapematerno', formOperador)">
                        <span style="color: #f4516c;">
                            {{ _validator.errorMessage }}
                        </span>
                    </div>

                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Fecha Nacimiento:</mat-label>                        
                    <input matInput [matDatepicker]="picker"   formControlName='dfechanac'  required >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>   
                    <div  *ngIf="!_validator.isValid('dfechanac', formOperador)">
                        <span style="color: #f4516c;">
                            {{ _validator.errorMessage }}
                        </span>
                    </div>
                </mat-form-field>  
            </div>

            <div class="tp-container" fxFlexOrder="3"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                <mat-form-field appearance="outline" >
                    <mat-label style="font-size:18px">Genero:</mat-label>
                    <mat-select placeholder="Perfil" [(value)]="idcombogenero" formControlName ='sgenero' required>
                        <mat-option  value="M">MASCULINO</mat-option>
                        <mat-option  value="F">FEMENINO</mat-option>
                        <mat-option  value="O">OTROS</mat-option>
                      </mat-select>
                </mat-form-field>          

                <mat-form-field appearance="outline" >
                    <mat-label>Telefono:</mat-label>
                    <input matInput  required formControlName="stelefono" required  maxlength ="12">
                </mat-form-field>                                   
            </div>
             
            <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">      
                <mat-form-field appearance="outline" >
                    <mat-label>Dirección:</mat-label>
                    <input matInput  required formControlName="sdireccion"   maxlength ="50">
                </mat-form-field>                                   
            </div>

            <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">      
                <mat-form-field appearance="outline" >
                    <mat-label>Correo Electrónico:</mat-label>
                    <input matInput  required formControlName="scorreo"  >
                    <div *ngIf="!_validator.isValid('scorreo', formOperador)">
                        <span style="color: #f4516c;">
                            {{ _validator.errorMessage }}
                        </span>
                    </div>
                </mat-form-field>                                   
            </div>
            <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">                           
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Observación:</mat-label>
                    <textarea matInput formControlName="sobservacion"  maxlength ="100"></textarea>
                </mat-form-field>                    
            </div>


    </mat-tab>
    
    <mat-tab label="USUARIO">               
        <p>
            <div class="tp-container"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
            
                <div class="tp-container"  fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Usuario:</mat-label>
                        <input matInput  required formControlName="slogin">
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Contraseña:</mat-label>
                        <input matInput type="password" required formControlName="spassword">
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Confirmar contraseña:</mat-label>
                        <input matInput type="password" required formControlName="spassword">
                    </mat-form-field>

                </div>

                <div class="tp-container"  fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Area:</mat-label>
                        <mat-select placeholder="Area" [(value)]="idarecombo" formControlName ='idare'>
                            <mat-option *ngFor="let v of areaCombo" [value]="v.nidarea">
                              {{v.snombre}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Perfil:</mat-label>
                        <mat-select placeholder="Perfil" [(value)]="idperfilcombo" formControlName='idperfil'>
                            <mat-option *ngFor="let v of perfilCombo" [value]="v.nidperfil">
                              {{v.snombreperfil}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Rol:</mat-label>
                        <mat-select placeholder="Perfil" [(value)]="idRolCombo" formControlName='idRol'>
                            <mat-option *ngFor="let v of rolCombo" [value]="v.nidrol">
                              {{v.snombrerol}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </div> 
               
            </div>

    </mat-tab>

    <mat-tab label="BIOMETRÍA">
        <p>

    </mat-tab>

</mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions style="width: 100%;" fxLayoutAlign="center center">
<button mat-raised-button  type="submit" color="primary"  > <mat-icon>done</mat-icon> {{nombreboton}}</button>
<button mat-raised-button type="reset"  color="accent" ng-click="cancelar()"><mat-icon>close</mat-icon> Limpiar</button>
<button mat-raised-button type="submit"  color="accent" ng-click="cancelar()"><mat-icon>close</mat-icon> Cancelar</button>
</mat-dialog-actions>

</form>

</section>
