<div class="header"    fxFlexOrder="2"  fxLayoutGap="20px" >      
    Mantenimiento usuario:                                 
</div>

<mat-divider></mat-divider>

<section  fxLayout="column" fxLayoutAlign="center center">

<form   [formGroup]="formOperador" (ngSubmit)="operar()" style="width: 100%;">

<mat-dialog-content style="width: 100%;"> 
<mat-tab-group mat-align-tabs="center" [(selectedIndex)]="demo1TabIndex">

    <mat-tab label="OPERADOR">
        <p>
            <div class="tp-container" fxFlexOrder="2"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px" >
                <mat-form-field appearance="outline"  >
                    <mat-label style="font-size:18px">Tipo de Documento:</mat-label>
                    <mat-select placeholder="Tipo Documento"   formControlName ='sidtipodoc' required (selectionChange)="select($event.value)">
                        <mat-option *ngFor="let v of tipodocumentocombo" [value]="v.sidtipodoc">
                          {{v.sdescripcion}}
                        </mat-option>
                    </mat-select>
                    <div  *ngIf="sidtipodoc">
                        <span style="color: #ff002b;">
                            {{val_sidtipodoc}}
                        </span>
                    </div>
                </mat-form-field>

                <mat-form-field appearance="outline"  >
                    <mat-label>Número Documento:</mat-label>
                    <input  matInput   formControlName="snumdocu" required /> 
                    <mat-icon matSuffix style="font-size: 1.5em">format_list_numbered_rtl</mat-icon>
                    <div  *ngIf="snumdocu">
                        <span style="color: #ff002b;">
                            {{val_snumdoc }}
                        </span>
                    </div>
                </mat-form-field>  
            </div>

            <div class="tp-container" fxFlexOrder="2"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
        
                <mat-form-field appearance="outline" >
                    <mat-label>Nombre:</mat-label>
                    <input matInput  required formControlName="snombre" required  minlength="2" maxlength ="30">
                    <mat-icon matSuffix style="font-size: 1.5em">text_fields</mat-icon>
                    <div  *ngIf="snombre">
                        <span style="color: #ff002b;">
                            {{val_snombre }}
                        </span>
                    </div>                    
                </mat-form-field>  

                <mat-form-field appearance="outline" >
                    <mat-label>Apellido Paterno:</mat-label>
                    <input matInput  required formControlName="sapepaterno">
                    <mat-icon matSuffix style="font-size: 1.5em">text_fields</mat-icon>
                    <div  *ngIf="sapepaterno">
                        <span style="color: #ff002b;">
                            {{val_sapepaterno}}
                        </span>
                    </div>                    
                </mat-form-field>
             </div>

            <div class="tp-container" fxFlexOrder="2"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">      
                <mat-form-field appearance="outline" >
                    <mat-label>Apellido Materno:</mat-label>
                    <input matInput  required formControlName="sapematerno"  required  minlength="2" maxlength ="30">
                    <mat-icon matSuffix style="font-size: 1.5em">text_fields</mat-icon>
                    <div  *ngIf="sapematerno">
                        <span style="color: #ff002b;">
                            {{val_sapematerno}}
                        </span>
                    </div>  

                </mat-form-field>
                <mat-form-field appearance="outline" >
                    <mat-label>Fecha Nacimiento:</mat-label>                        
                    <input matInput [matDatepicker]="picker"   formControlName='dfechanac'  required >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>   
                    <div  *ngIf="dfechanac">
                        <span style="color: #ff002b;">
                            {{val_dfechanac}}
                        </span>
                    </div>                       
                </mat-form-field>  
            </div>

            <div class="tp-container" fxFlexOrder="3"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                <mat-form-field appearance="outline" >
                    <mat-label style="font-size:18px">Genero:</mat-label>
                    <mat-select placeholder="Perfil" formControlName ='sgenero' required>
                        <mat-option  value="M">MASCULINO</mat-option>
                        <mat-option  value="F">FEMENINO</mat-option>
                        <mat-option  value="O">OTROS</mat-option>
                   </mat-select>
                      <div  *ngIf="sgenero">
                        <span style="color: #ff002b;">
                            {{val_sgenero}}
                        </span>
                    </div>
                </mat-form-field>          

                <mat-form-field appearance="outline" >
                    <mat-label>Telefono:</mat-label>
                    <input matInput  required formControlName="stelefono" required  maxlength ="12">
                    <mat-icon matSuffix style="font-size: 1.5em">phone</mat-icon>
                    <div  *ngIf="stelefono">
                        <span style="color: #ff002b;">
                            {{val_stelefono}}
                        </span>
                    </div>
                </mat-form-field>                                   
            </div>
             
            <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">      
                <mat-form-field appearance="outline" >
                    <mat-label>Dirección:</mat-label>
                    <input matInput  required formControlName="sdireccion"   maxlength ="50">
                    <mat-icon matSuffix style="font-size: 1.5em">text_fields</mat-icon>
                    <div  *ngIf="sdireccion">
                        <span style="color: #ff002b;">
                            {{val_sdireccion}}
                        </span>
                    </div>
                </mat-form-field>                                   
            </div>

            <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">      
                <mat-form-field appearance="outline" >
                    <mat-label>Correo Electrónico:</mat-label>
                    <input matInput  required formControlName="scorreo"  >
                    <mat-icon matSuffix style="font-size: 1.5em">email</mat-icon>
                    <div  *ngIf="scorreo">
                        <span style="color: #ff002b;">
                            {{val_scorreo}}
                        </span>
                    </div>
                </mat-form-field>                                   
            </div>
            <div class="tp-container" fxFlexOrder="1"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">                           
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Observación:</mat-label>
                    <textarea matInput formControlName="sobservacion"  maxlength ="100"></textarea>
                    <mat-icon matSuffix style="font-size: 1.5em">text_format</mat-icon>
                    <div  *ngIf="sobservacion">
                        <span style="color: #ff002b;">
                            {{val_sobservacion}}
                        </span>
                    </div>
                </mat-form-field>                    
            </div>


    </mat-tab>
    
    <mat-tab label="USUARIO">               
        <p>
            <div class="tp-container"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
            
                <div class="tp-container"  fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Usuario:</mat-label>
                        <input matInput  required formControlName="slogin">
                        <mat-icon matSuffix style="font-size: 1.5em">person_pin</mat-icon>
                        <div  *ngIf="slogin">
                            <span style="color: #ff002b;">
                                {{val_slogin}}
                            </span>
                        </div>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Contraseña:</mat-label>
                        <input matInput type="password" required formControlName="spassword">
                        <mat-icon matSuffix style="font-size: 1.5em">vpn_key</mat-icon>
                        <div  *ngIf="spassword">
                            <span style="color: #ff002b;">
                                {{val_spassword}}
                            </span>
                        </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Confirmar contraseña:</mat-label>
                        <input matInput type="password" required formControlName="spassword">
                        <mat-icon matSuffix style="font-size: 1.5em">vpn_key</mat-icon>
                        <div  *ngIf="spassword">
                            <span style="color: #ff002b;">
                                {{val_spassword}}
                            </span>
                        </div>
                    </mat-form-field>

                </div>

                <div class="tp-container"  fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Rol:</mat-label>
                        <mat-select placeholder="Perfil"  formControlName='nidRol'>
                            <mat-option *ngFor="let v of rolCombo" [value]="v.nidrol">
                              {{v.snombrerol}}
                            </mat-option>
                          </mat-select>
                          <div  *ngIf="nidRol">
                            <span style="color: #ff002b;">
                                {{val_nidRol}}
                            </span>
                        </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Area:</mat-label>
                        <mat-select   formControlName ='nidarea'>
                            <mat-option *ngFor="let v of areaCombo" [value]="v.nidarea">
                              {{v.snombre}}
                            </mat-option>
                          </mat-select>
                          <div  *ngIf="nidarea">
                            <span style="color: #ff002b;">
                                {{val_nidarea}}
                            </span>
                        </div>
                    </mat-form-field>

                    <mat-form-field appearance="outline" >
                        <mat-label style="font-size:18px">Perfil:</mat-label>
                        <mat-select placeholder="Perfil" formControlName='nidperfil'>
                            <mat-option *ngFor="let v of perfilCombo" [value]="v.nidperfil">
                              {{v.snombreperfil}}
                            </mat-option>
                          </mat-select>
                          <div  *ngIf="nidperfil">
                            <span style="color: #ff002b;">
                                {{val_nidperfil}}
                            </span>
                        </div>
                    </mat-form-field>

                   
                </div> 
               
            </div>

    </mat-tab>

    <mat-tab label="BIOMETRÍA">
        <p>

            <div class="tp-container"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">

                <div class="tp-container"   fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
                    <img [src]="imagenData || '../../../assets/iconos/userless.png'"  width="50px" height="400px" />
                </div>         
        
                <div class="tp-container"  fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">                   
                        <button mat-raised-button  color="default" ng-click="seleccionarimagen()" > 
                        <mat-icon>done_outline</mat-icon> Seleccionar imagen </button>                 
                </div>
                
            </div>


    </mat-tab>

</mat-tab-group>

</mat-dialog-content>

    <mat-dialog-actions style="width: 100%;" fxLayoutAlign="center center">
    <button mat-raised-button  type="submit" color="primary"  > <mat-icon>done_outline</mat-icon> {{nombreboton}}</button>
     <button mat-raised-button type="reset"  color="warn" ng-click="cancelar()"><mat-icon>clear_all</mat-icon> Limpiar</button>
    <button class="btn btn-default" mat-raised-button type="button"  color="accent" (click)="cancelar()"><mat-icon>close</mat-icon> Cancelar</button>
    </mat-dialog-actions>

</form>

</section>
