/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*ESTILO PARA EL SNACKBAR*/
.error.mat-snack-bar-container{
    background: #ff1919;
    color: rgb(0, 0, 0);
}

.exito.mat-snack-bar-container{
    background: #0aa00a;
    color: rgb(0, 0, 0);
    
}


.alerta.mat-snack-bar-container{
    background: #eccc14;
    color: rgb(0, 0, 0);
}

/*ESTILO PARA EL SNACKBAR*/

