<!-- <div >
   <h2>{{data.type | titlecase}}</h2>  
</div>

<div>
    <img src="../../../assets/iconos/ok.png" height="50px">
    <h4>{{data.message}}</h4>   
</div>
<div style="text-align: center;">
    <button mat-flat-button (click)="snackBarRef.dismiss()" >
        {{data.buttonText}}
    </button>
</div> -->



<div class="panel">
    <div class="izq">   
        <div class="izqcontenido">
            <!-- <img src="../../../assets/iconos/ok.png" style="height: 50px;"> -->
            <img  [src]="data.rutaimage" style="height: 60px;" />
        </div> 
            
     </div>
    <div class="der">
        <div class="uno">  
            <h2>{{data.type | titlecase}}</h2>    
            
        </div>
        <div class="dos">
            <h4>{{data.message}}</h4>   
                      
        </div>
        <div class="tres">
            <button mat-raised-button (click)="snackBarRef.dismiss()"  >
                {{data.buttonText}}
            </button>
        </div>  
    </div>
</div>