<div class="header"    fxFlexOrder="2"  fxLayoutGap="20px" >      
    Mantenimiento Roles:                                 
</div>

<mat-divider></mat-divider>

<section  fxLayout="column" fxLayoutAlign="center center">

  <form   [formGroup]="formrol" (ngSubmit)="operar()" style="width: 100%;"> 

    <mat-dialog-content style="width: 100%;">

        <div class="tp-container" fxFlexOrder="1"  fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-evenly center" fxLayoutGap="2px">

            <mat-form-field appearance="outline" >
                <mat-label style="font-size:18px">Nombre Rol:</mat-label>
                <input  matInput  formControlName="snombrerol" /> 
                    <mat-icon matSuffix style="font-size: 1.5em">format_list_numbered_rtl</mat-icon>
                    <div  *ngIf="snombrerol">
                        <span style="color: #ff002b;">
                            {{val_snombrerol}}
                        </span>
                    </div>
            </mat-form-field>

            <mat-form-field appearance="outline" >
                <mat-label style="font-size:18px">Siglas:</mat-label>
                <input  matInput formControlName="siglas"   /> 
                    <mat-icon matSuffix style="font-size: 1.5em">format_list_numbered_rtl</mat-icon>
                    <div  *ngIf="siglas">
                        <span style="color: #ff002b;">
                            {{val_siglas}}
                        </span>
                    </div>
            </mat-form-field>

                          
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Observación:</mat-label>
                <textarea matInput formControlName="sobservacion" maxlength ="100"></textarea>
                <mat-icon matSuffix style="font-size: 1.5em">text_format</mat-icon>
                <div  *ngIf="observacion">
                    <span style="color: #ff002b;">
                        {{val_sobservacion}}
                    </span>
                </div>
            </mat-form-field>                    
        </div>
 
    </mat-dialog-content>

    <mat-dialog-actions style="width: 100%;" fxLayoutAlign="center center">
        <button mat-raised-button  type="submit"  color="primary" > <mat-icon>done_outline</mat-icon> {{nombreboton}}</button>
        <button mat-raised-button  type="reset" color="warn" ng-click="cancelar()"><mat-icon>clear_all</mat-icon> Limpiar</button>
        <button class="btn btn-default" mat-raised-button type="button"  color="accent" (click)="cancelar()"><mat-icon>close</mat-icon> Cancelar</button>
     </mat-dialog-actions>

  </form>
</section>